{{#> layouts/default title="home" }}


{{#*inline "body"}}

    <section class="tab">

        <!-- start tab header -->
        <aside class="tab-header">
            <nav>
                <ul class="tab-nav">
                    <li><a class="tab-nav-link" href="#general">General</a></li>
                    <li><a class="tab-nav-link active" href="#form">Form</a></li>
                    <li><a class="tab-nav-link" href="#help">Help</a></li>
                </ul>
            </nav>
        </aside>
        <!-- ./end tab header -->


        <div class="tab-content">
            <div class="tab-container">
                <header>
                    <h1>ABP Triple Tab Test</h1>
                </header>

                <div class="tab-body" id="general">
                    <h2 class="tab-body-title">General section</h2>
                </div>

                <div class="tab-body active" id="form">
                    <h2 class="tab-body-title">Your valuable details</h2>

                    <form>
                        <fieldset>
                            <legend>Choose your favorite monster</legend>

                            <div class="form-group-custom">
                                <input type="radio" name="fav_monster" id="for_1" class="form-control-custom"> <label for="for_1">Kraken</label>
                            </div>

                            <div class="form-group-custom">
                                <input type="radio" name="fav_monster" id="for_2" class="form-control-custom"> <label for="for_2">Sasquatch</label>
                            </div>

                            <div class="form-group-custom">
                                <input type="radio" name="fav_monster" id="for_3" class="form-control-custom"> <label for="for_3">Mothman</label>
                            </div>
                        </fieldset>


                        <fieldset>
                            <legend>Meet the monster</legend>

                            <div class="form-group-custom">
                                <label class="d-block" for="name">Your Name</label>
                                <input type="text" name="name" class="form-control-custom">
                            </div>

                            <div class="form-group-custom">
                                <label class="d-block" for="name">Your Address</label>
                                <input type="text" name="name" class="form-control-custom">
                            </div>

                            <div class="form-group-custom">
                                <button type="submit" class="btn btn-submit">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="tab-body" id="help">
                    <h2 class="tab-body-title">Help section</h2>
                </div>


            </div>

            <footer>
                <p>&copy; 2019 eyeo GmbH</p>
            </footer>
        </div>

    </section>

{{/inline}}

{{/layouts/default}}