//*************** projects ui styles***************

.nm {
    margin: 0 !important;
  }
  
.np {
    padding: 0 !important;
  }
  
.nb {
    border: none !important;
  }
.relative {
    position: relative !important;
}
  
.absolute {
    position: absolute !important;
}
.resize {
    resize: none !important;
}

.cur-pot{
    cursor: pointer !important;
  }

.d-block{
  display: block!important;
}