// **********project styles ********//

*{
    @extend %reset;
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBEBEB;
}





// tab styles

.tab{
    display: flex;
    min-height: 100vh;

    @media screen and (max-width:991px){
        display: block;
    }
    .tab-header{
        min-width: 264px;
        padding: 100px 40px;

        .tab-nav{
            list-style-type: none;
            .tab-nav-link{
                text-decoration: none;
                display: block;
                color: #000000;
                font-size: 16px;
                padding: 10px;
                margin: 5px 0;
                @include transition(.2s ease);
                &:hover{
                    background-color: #ffffff;
                }
            }
            .active{
                background-color: #ffffff;
            }
        }
    }



    .tab-content{
        width: calc(100vw - 264px);
        padding: 10px;

        @media screen and (max-width:991px){
            width: 100%;
            padding: 0;
        }

        header{
            padding: 50px 10px;
            text-align: center;
        }

        footer{
            padding-bottom: 20px;
            height: 40px;
            p{
                font-size: #000000;
                text-align: center;
            }
        }

        .tab-container{
            background-color: #ffffff;
            min-height: 100%;
            margin-bottom: -40px;
        }

        .tab-body{
            display: none;
            padding: 20px 50px;
            &-title{
                font-weight: normal;
                margin: 20px 0;
            }
        }
        .tab-body.active{
            display: block;
        }
    }

    


// fieldset styles
    fieldset{
        padding: 20px;
        margin-bottom: 30px;
        legend{
            padding: 15px 10px;
            color: #ffffff;
            background-color: #000;
            font-size: 14px;
        }
    }

    // button style
    .btn{
        padding: 10px 20px;
        background-color: green;
        color: #ffffff;
        font-size: 14px;
    }

    .form-group-custom{
        margin: 15px 0;
        label,span{
            font-size: 14px;
            color: #000000;
            font-weight: normal;
            margin-bottom: 10px;
        }
        input[type="text"].form-control-custom{
            height: 36px;
            width: 250px;
        }
    }
}
